.filter {
  max-width: 320px;

  &__title {
    position: relative;
    transition: transform 0.1s;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 3px;
      content: url('../images/icons/chevron-down-gray16.svg');
      margin-left: 8px;
      transform: rotate(0);
    }

    &.is-active::after {
      top: 0;
      transform: rotate(180deg);
    }
  }

  &__inner {
    opacity: 0;
    max-height: 0;
    visibility: hidden;

    &.active-content {
      max-height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  &__subtitle {
    position: relative;
    @extend %sourcesans-600;
  }

  &__subtitle-status::after {
    position: absolute;
    top: 4px;
    content: url('../images/icons/tips.svg');
    margin-left: 8px;
  }

  &__subtitle-country::after,
  &__subtitle-brend::after {
    position: absolute;
    top: 4px;
    content: url('../images/icons/format-line-spacing.svg');
    margin-left: 8px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__item-box {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__transfer-btn {
    @extend %btn;
    padding: 7px 16px;
    width: 146px;
    height: 36px;

    &.is-active {
      @extend %sourcesans-600;
      color: $accent;
      font-size: 14px;
      line-height: 22px;
      border: 1px solid $mid-gray;
      background: #ffffff;
    }
  }

  &__btn-more {
    @extend %btn-r;
    @extend %sourcesans-600;
    font-size: 14px;
    line-height: 22px;
    align-self: flex-start;
    color: $accent;
    padding: 0 20px 0 0;
    background-image: url('../images/icons/chevron-right-accent.svg');
    background-position: center right;
    background-repeat: no-repeat;
    margin-top: 16px;
  }

  &__bottom {
    gap: 24px;
  }

  &__bottom-btn {
    @extend %btn-r;
    @extend %sourcesans-600;
    align-self: flex-start;
    padding: 0 0 0 28px;
  }

  &__btn-all {
    background-image: url('../images/icons/filter-equalizer.svg');
    background-position: center left;
    background-repeat: no-repeat;
  }

  &__btn-save {
    background-image: url('../images/icons/filter-bookmark.svg');
    background-position: center left;
    background-repeat: no-repeat;
  }

  &__btn-reset {
    background-image: url('../images/icons/filter-reset.svg');
    background-position: center left;
    background-repeat: no-repeat;
    color: $red;
  }
}

.offer-page {
  .filter__item {
    margin-bottom: 36px;
  }

  .filter__item.filter__price {
    margin-bottom: 48px;
  }

  .filter__label-name-bottom {
    @extend %sourcesans-600;
    font-size: 16px;
    line-height: 26px;
  }

  .filter__item-bottom {
    .filter__checkbox-marker {
      width: 18px;
      height: 18px;
    }

    .input-box {
      margin-top: 4px;
    }
  }
}
