/* RECOMMEND */
.recommend {
  padding-top: 96px;

  @media (max-width: 768px) {
    padding-top: 48px;
  }

  .price-old {
    @media (max-width: 768px) {
      display: block;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .product__link {
    @media (max-width: 768px) {
      padding-top: 28px;
    }
  }

  .product__inner {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      .col:nth-child(2) {
        order: 2;
      }
      .col:nth-child(3) {
        order: 1;
      }
    }
  }

  .product__column {
    @media (max-width: 768px) {
      height: 170px;
      order: 0;
    }
  }

  .product__holder {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    .product__box {
      @media (max-width: 768px) {
        order: -1;
      }
    }

    .product__link {
      @media (max-width: 768px) {
        padding-top: 8px;
      }
    }
    .product__info {
      @media (max-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  &__wrapper {
    position: relative;
  }

  &-title {
    margin-bottom: 36px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__box {
    display: flex;
  }

  &__picture {
    width: 205px;
    height: 176px;

    @media (max-width: 768px) {
      width: 132px;
      height: 113px;
    }
  }
}
