.first-screen {
  padding-bottom: 96px;

  @media (max-width: 768px) {
    padding-bottom: 24px;
  }

  &__content {
    display: flex;
    gap: 16px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__carousel {
    position: relative;
    display: flex;
    gap: 16px;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__swiper-narrow {
    overflow: hidden;
    min-width: 109px;
    height: 456px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .swiper-slide__narrow-img-tiny {
    object-fit: cover;
  }

  &__swiper-large {
    overflow: hidden;
    max-width: 597px;
    height: 757px;

    @media (max-width: 1200px) {
      height: 557px;
    }

    @media (max-width: 768px) {
      height: 100%;
    }
  }

  .swiper-slide__large {
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__info-subtitle {
    font-size: 16px;
    line-height: 26px;
    color: $text;
    margin-bottom: 16px;
  }

  &__btn-more {
    @extend %btn-r;
    color: $blue;
    margin-bottom: 56px;
  }

  &__brend-btn {
    @extend %btn-r;
    color: $blue;
    margin-bottom: 16px;
  }

  &__brend-link {
    display: inline-block;
    color: $blue;
    margin-bottom: 28px;
  }

  &__brend-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }

  &__terms {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__terms-btn {
    @extend %btn-r;
    color: $blue;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 36px;
    &:nth-child(1) {
      background-image: url('../images/icons/sync-blue.svg');
    }
    &:nth-child(2) {
      background-image: url('../images/icons/protect-blue.svg');
    }
  }

  .list {
    margin-bottom: 24px;
  }

  .first-screen__box {
    display: none;

    @media (max-width: 768px) {
      position: absolute;
      bottom: -45px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-area: 8px;
    }
  }

  .first-screen__box-btn {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .control__btn {
    @extend %btn-r;
    color: $blue;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center left;

    &-add {
      background-image: url('../images/icons/bookmark-blue.svg');
    }
    &-comp {
      background-image: url('../images/icons/chart-bar-blue.svg');
    }
    &-new {
      background-image: url('../images/icons/notification-blue.svg');
    }
  }

  /* slider */

  &__swiper-narrow {
    .swiper-slide.swiper-slide__narrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 107px;
      min-height: 136px;
      border: 1px solid transparent;
    }

    .swiper-slide.swiper-slide__narrow.swiper-slide-visible.swiper-slide-next {
      border-radius: 5px;
      border: 1px solid $mid-gray;
    }

    .swiper-slide.swiper-slide__narrow.swiper-slide-visible.swiper-slide-thumb-active {
      border-radius: 5px;
      border: 1px solid $accent;
    }
  }

  .swiper-pagination {
    @media (max-width: 768px) {
      position: static;
      width: 70%;
    }
  }

  .swiper-pagination-bullet {
    background-color: $mid-gray;
    cursor: pointer;

    @media (max-width: 768px) {
      border-radius: 50%;
      width: 5px;
      height: 5px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $gray;

    @media (max-width: 768px) {
      border-radius: 50%;
      width: 7px;
      height: 7px;
    }
  }
}
