<section class="bottom">
  <p class="bottom__info">
    Информацию об условиях отпуска (реализации) уточняйте у продавца. Информация о технических
    характеристиках, комплекте поставки, стране изготовления и внешнем виде товара носит справочный
    характер. Стоимость доставки из других регионов приблизительная. Точную стоимость уточняйте у
    продавца. Товары в разделе «Вместе с этим покупают» подобраны автоматически. Совместимость
    товаров уточняйте у продавца или производителя. Ежемесячный платеж является приблизительным или
    рассчитан автоматически на основе предоставленной продавцом информации. Подробные условия
    покупки товаров в кредит, полную стоимость кредита и другие условия кредитования уточняйте на
    сайте продавца.
  </p>
  <div class="bottom__content">
    <h2 class="bottom-title title">Этот текст важен для SEO</h2>
    <p class="bottom__text">
      Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев
      более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык
      публичных выступлений в домашних условиях. При создании генератора мы использовали
      небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух
      до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для
      визуально-слухового восприятия.
    </p>
    <p class="bottom__text">
      По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
      некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст
      рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит
      советских времен.
    </p>
  </div>

  <div class="bottom__box">
    <ul class="bottom__list">
      <li class="bottom__caption">Популярное</li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Московская область </a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Hижний Hoвгopoд </a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Kaзaнь </a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Тверь</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Москва</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Краснодар</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Чeлябинcк</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Pocтoв-нa-Дoнy </a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Когалым</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Санкт-Петербург</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Новосибирск</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Eкaтepинбypг</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Пepмь</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Пенза</a>
      </li>
    </ul>

    <ul class="bottom__list">
      <li class="bottom__caption">Смотрите также</li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Ballu </a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры LG </a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Toshiba </a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Samsung </a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#"> Кондиционеры Daikin</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Panasonic</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Lessar</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Samsung</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Lessar</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Gree</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Lessar</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Lessar</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Gree</a>
      </li>
      <li class="bottom__item">
        <a class="bottom__link" href="#">Кондиционеры Lessar</a>
      </li>
    </ul>
  </div>
</section>
