<div class="control control__product-page">
  <h2 class="control__product-page-title title">Cплит-cиcтeмa Rivacold WSH028 Z001</h2>
  <div class="control__inner">
    <ul class="control__list">
      <li class="control__item">
        <div class="product__info">
          <div class="rating">5.0</div>
          <div class="reviews">
            <span>800</span>
            отзывов
          </div>
        </div>
      </li>
      <li class="control__item">
        <a class="control__link" href="#"> Характеристики </a>
      </li>
      <li class="control__item">
        <a class="control__link" href="#"> Статьи и инструкции </a>
      </li>
      <li class="control__item">
        <a class="control__link" href="#"> 24 вопроса </a>
      </li>
      <li class="control__item">18 000 человек интересовалось за месяц</li>
    </ul>

    <ul class="control__list control__list-user">
      <li class="control__item">
        <button class="control__btn control__btn-add">Добавить в избранное</button>
      </li>
      <li class="control__item">
        <button class="control__btn control__btn-comp">Сравнить</button>
      </li>
      <li class="control__item">
        <button class="control__btn control__btn-new">Уведомить о новых предложениях</button>
      </li>
    </ul>
  </div>
</div>
