<div class="first-screen__content">
  <div class="first-screen__carousel">
    <div class="first-screen__swiper-narrow">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide__narrow">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="97"
              height="84"
              class="swiper-slide__narrow-img-tiny"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__narrow">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="97"
              height="84"
              class="swiper-slide__narrow-img-tiny"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__narrow">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="97"
              height="84"
              class="swiper-slide__narrow-img-tiny"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__narrow">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="97"
              height="84"
              class="swiper-slide__narrow-img-tiny"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="first-screen__swiper-large">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide__large">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              class="swiper-slide__narrow-img-large"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__large">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              class="swiper-slide__narrow-img-large"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__large">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              class="swiper-slide__narrow-img-large"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__large">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="597"
              class="swiper-slide__narrow-img-large"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="first-screen__box">
      <button class="control__btn control__btn-add"></button>
      <div class="swiper-pagination"></div>
      <div class="first-screen__box-btn">
        <button class="control__btn control__btn-comp"></button>
        <button class="control__btn control__btn-new"></button>
      </div>
    </div>
  </div>

  <div class="first-screen__info">
    <h3 class="first-screen__info-subtitle">Характеристики</h3>
    <dl class="descr__list">
      <div class="descr__item">
        <dt class="descr__term">Цвет товара</dt>
        <dd class="descr__val">белый</dd>
      </div>
      <div class="descr__item">
        <dt class="descr__term">Площадь помещения</dt>
        <dd class="descr__val">21 м²</dd>
      </div>
      <div class="descr__item">
        <dt class="descr__term">Режим работы</dt>
        <dd class="descr__val">обогрев, охлаждение</dd>
      </div>
      <div class="descr__item">
        <dt class="descr__term">Доп. режимы:</dt>
        <dd class="descr__val">вентиляция</dd>
      </div>
      <div class="descr__item">
        <dt class="descr__term">Мощность охлаждения (1-й внутренний блок):</dt>
        <dd class="descr__val">2050 Вт</dd>
      </div>
      <div class="descr__item">
        <dt class="descr__term">Xoлoдoпpoизвoдитeльнocть:</dt>
        <dd class="descr__val">1028 Bт</dd>
      </div>
      <div class="descr__item">
        <dt class="descr__term">Особенности:</dt>
        <dd class="descr__val">пульт ДУ, таймер включения/выключения</dd>
      </div>
      <div class="descr__item">
        <dt class="descr__term">Состояние:</dt>
        <dd class="descr__val">Подержанное</dd>
      </div>
    </dl>

    <button class="first-screen__btn-more">Подробнее</button>

    <ul class="first-screen__list-ann">
      <li class="first-screen__item-ann first-screen__item-caption">Об объявлении</li>
      <li class="first-screen__item-ann">ID: 30485937</li>
      <li class="first-screen__item-ann">
        <time datetime="2023-10-05T18:25:00">Актуальность: 5 октября в 18:25</time>
      </li>
    </ul>

    <div class="first-screen__terms">
      <button class="first-screen__terms-btn">Условия возврата и обмена</button>
      <button class="first-screen__terms-btn">Условия гарантии</button>
    </div>
  </div>
</div>
