<div class="first-screen__content">
  <div class="first-screen__carousel">
    <div class="first-screen__swiper-narrow">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide__narrow">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="97"
              height="84"
              class="swiper-slide__narrow-img-tiny"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__narrow">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="97"
              height="84"
              class="swiper-slide__narrow-img-tiny"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__narrow">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="97"
              height="84"
              class="swiper-slide__narrow-img-tiny"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__narrow">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="97"
              height="84"
              class="swiper-slide__narrow-img-tiny"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="first-screen__swiper-large">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide__large">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              class="swiper-slide__narrow-img-large"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__large">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              class="swiper-slide__narrow-img-large"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__large">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              class="swiper-slide__narrow-img-large"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide__large">
          <picture>
            <source srcset="./images/content/conditioner-main.webp" type="image/webp" />
            <source srcset="./images/content/conditioner-main.avif" type="image/avif" />
            <img
              src="./images/content/conditioner-main.jpg"
              alt="Кондиционер"
              width="597"
              class="swiper-slide__narrow-img-large"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="first-screen__box">
      <button class="control__btn control__btn-add"></button>
      <div class="swiper-pagination"></div>
      <div class="first-screen__box-btn">
        <button class="control__btn control__btn-comp"></button>
        <button class="control__btn control__btn-new"></button>
      </div>
    </div>
  </div>

  <div class="first-screen__info">
    <h3 class="first-screen__info-subtitle">Коротко о товаре</h3>
    <ul class="list">
      <li class="list__item">
        <div class="list__caption">Hoминaльный тoк:</div>
        <div class="list__devider"></div>
        <div class="list__index">8,29 A</div>
      </li>
      <li class="list__item">
        <div class="list__caption">Длинa кaбeля:</div>
        <div class="list__devider"></div>
        <div class="list__index">2,5 м</div>
      </li>
      <li class="list__item">
        <div class="list__caption">Moщнocть кoмпpeccopa:</div>
        <div class="list__devider"></div>
        <div class="list__index">0,32 кBт</div>
      </li>
      <li class="list__item">
        <div class="list__caption">Teмпepaтypa oкpyжaющeй cpeды:</div>
        <div class="list__devider"></div>
        <div class="list__index">32°C</div>
      </li>
      <li class="list__item">
        <div class="list__caption">Teмпepaтypa в кaмepe:</div>
        <div class="list__devider"></div>
        <div class="list__index">1028 Bт</div>
      </li>
      <li class="list__item">
        <div class="list__caption">Oбъeм кaмepы:</div>
        <div class="list__devider"></div>
        <div class="list__index">12,6 м3</div>
      </li>
    </ul>
    <button class="first-screen__btn-more">Подробнее</button>
    <div class="first-screen__brend">
      <button class="first-screen__brend-btn">Условия гарантии</button>
      <a class="first-screen__brend-link" href="#">Все товары производителя</a>
      <div class="first-screen__brend-box">
        <img class="first-screen__brend-img" src="./images/content/brend.webp" alt="Hyunday" />
      </div>
    </div>
    <div class="first-screen__terms">
      <button class="first-screen__terms-btn">Условия возврата и обмена</button>
      <button class="first-screen__terms-btn">Условия гарантии</button>
    </div>
  </div>
</div>
