<div class="offer__sort">
  <div class="offer__sort-list">
    <button class="offer__sort-btn">Сначала новые</button>
    <button class="offer__sort-btn">Сначала дешевле</button>
    <button class="offer__sort-btn">Сначала дороже</button>
    <label class="filter__label label">
      <div class="filter__input-box input-box">
        <input class="filter__checkbox checkbox" type="checkbox" />
        <span class="filter__checkbox-marker checkbox-marker"></span>
      </div>
      <span class="label-name">Сначала мой регион: <span>Москва</span> </span>
    </label>
  </div>

  <div class="sort__dropdown">
    <div class="sort__dropdown-name sort__name">Сначала новые</div>
    <div class="sort__dropdown-menu">
      <button class="sort__btn sort__dropdown-btn is-active">Сначала новые</button>
      <button class="sort__btn sort__dropdown-btn">Сначала дешевле</button>
      <button class="sort__btn sort__dropdown-btn">Сначала дорогие</button>
      <button class="sort__btn sort__dropdown-btn">Высокий рейтинг</button>
      <button class="sort__btn sort__dropdown-btn">По размеру скидки</button>
    </div>
  </div>

  <div class="sort__filter-name sort__name">Фильтры</div>
</div>
