<div class="quick-order">
  <div class="container">
    <div class="quick-order__inner">
      <div class="quick-order__info">
        <picture>
          <source srcset="./images/content/conditioner.webp" type="image/webp" />
          <source srcset="./images/content/conditioner.avif" type="image/avif" />
          <img src="./images/content/conditioner.jpg" alt="Кондиционер" width="50" height="43" />
        </picture>
        <div class="quick-order__box">
          <div class="quick-order__title">
            Cплит-cиcтeмa Rivacold WSH028 Z001 в Санкт-Петербурге
          </div>
          <div class="quick-order__price">5 000 ₽</div>
        </div>
      </div>

      <ul class="quick-order__list">
        <li class="quick-order__item">
          <button class="quick-order__btn">В корзину</button>
        </li>
        <li class="quick-order__item">
          <button class="quick-order__tel js-show-phone" value="+7(499) 638 34 50">
            +7 показать номер
          </button>
        </li>
        <li class="quick-order__item">
          <a class="quick-order__email" href="mailto:test@test.com">Написать</a>
        </li>
      </ul>
    </div>
  </div>
</div>
