<section class="recommend">
  <div class="swiper-recommend swiper-product">
    <div class="recommend__top">
      <h2 class="recommend-title title">Рекомендуем</h2>
      <div class="swiper__btns-box">
        <div class="swiper-button swiper-button-prev"></div>
        <div class="swiper-button swiper-button-next"></div>
      </div>
    </div>

    <div class="swiper-wrapper recommend__box">
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">
                  Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028 Z001 WSH028 Z001
                </h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">Cплит-cиcтeмa Rivacold WSH028 Z001</h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028</h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">
                  Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028 Z001 WSH028 Z001
                </h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">
                  Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028 Z001 WSH028 Z001
                </h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">
                  Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028 Z001 WSH028 Z001
                </h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">
                  Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028 Z001 WSH028 Z001
                </h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">
                  Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028 Z001 WSH028 Z001
                </h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">
                  Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028 Z001 WSH028 Z001
                </h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide product-vertical">
        <div class="product__inner">
          <div class="col product__column">
            <div class="tags">
              <div class="tag tag-new">Новый</div>
            </div>
            <a class="product__link" href="#">
              <picture class="recommend__picture">
                <source srcset="./images/content/conditioner.webp" type="image/webp" />
                <source srcset="./images/content/conditioner.avif" type="image/avif" />
                <img
                  class="product__img"
                  src="./images/content/conditioner.png"
                  alt="Кондиционер"
                />
              </picture>
            </a>
          </div>
          <div class="col">
            <div class="product__holder">
              <a class="product__link" href="#">
                <h2 class="product__subtitle">
                  Cплит-cиcтeмa Rivacold WSH028 Z001 WSH028 Z001 WSH028 Z001
                </h2>
              </a>
              <div class="product__box">
                <div class="product__info">
                  <div class="rating">5.0</div>
                  <div class="reviews">
                    <span>800</span>
                    отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="price">
              <ins class="price-new">5 000 ₽</ins>
              <del class="price-old">10 000 ₽</del>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
