<div class="widgets">
  <div class="widget widget-order">
    <div class="tags">
      <div class="tag tag-new">Новый</div>
      <div class="tag tag-favorite">Выбор покупателей</div>
    </div>

    <div class="widget__price-box">
      <ins class="price-new widget-price">5 000 ₽</ins>
      <del class="price-old widget-old__price">10 000 ₽</del>
      <span>Возможна покупка в кредит</span>
    </div>

    <div class="offer__product-state">
      <img
        src="./images/icons/state1.svg"
        class="offer__product-state-img"
        alt="state1"
        width="56"
        height="16"
      />
      <span>Состояние товара</span>
    </div>

    <div class="widget-availability">
      <ul class="widget-availability__list">
        <li class="widget-availability__name-toorder">Под заказ</li>
        <li class="widget-availability__item">Опт</li>
      </ul>
    </div>

    <div class="widget-order__delivery">
      <label class="widget__label">
        Доставка до
        <button class="widget-order__delivery-btn" value="msk">Москва</button>
      </label>
      <p class="widget-order__delivery-desc">
        <span>Доставка продавца.</span>Транспортной компанией, завтра 14 августа —
        <span>150 руб.</span>
      </p>
      <p class="widget-order__delivery-desc">
        <span>Доставка Machinerea.</span>Транспортной компанией, завтра 14 августа —
        <span>150 руб.</span>
      </p>
    </div>

    <div class="widget__btns">
      <button class="widget__btn">Добавить в корзину</button>
      <a class="widget__contact-link widget__link-phone" href="tel:+74996383450"
        ><span>+7 показать номер</span></a
      >
      <a class="widget__contact-link widget__link-email" href="mailto:test@test.com"
        ><span>Написать</span></a
      >
    </div>

    <div class="widget__user">
      <div class="widget__user-inner">
        <div class="widget__user-top">
          <picture>
            <source srcset="./images/content/user-widget.webp" type="image/webp" />
            <source srcset="./images/content/user-widget.avif" type="image/avif" />
            <img
              src="./images/content/user-widget.png"
              alt="Асафьев Станислав"
              class="widget__user-img"
              width="50"
              height="50"
            />
          </picture>

          <div class="widget__user-info">
            <ul class="widget__user-list">
              <li class="widget__user-item-name">Асафьев Станислав</li>

              <li class="widget__user-item">
                <img
                  src="./images/icons/circle-success-blue.svg"
                  width="18"
                  height="18"
                  class="widget__user-icon"
                />
              </li>

              <li class="widget__user-item">
                <div class="tip--blue tip-box">
                  <img
                    src="./images/icons/trophy-blue.svg"
                    width="18"
                    height="18"
                    class="widget__user-icon"
                  />
                </div>
              </li>
            </ul>

            <div class="widget__user-box">
              <div class="widget__user-rating">5.0 рейтинг</div>
              <div class="widget__user-reviews">231 отзыв</div>
            </div>
          </div>
        </div>

        <div class="widget__user-more">
          <div class="widget__user-text">Собственник</div>
          <span class="widget__user-text">г. Санкт-Петербург</span>
          <a class="widget__user-link-adress" href="#">Показать адрес</a>
        </div>
      </div>
      <button class="widget__user-btn">76 объявлений пользователя</button>
    </div>
  </div>
  <a class="widget__link-related" href="#">Похожие предложения</a>

  <div class="widget__terms">
    <button class="widget__terms-btn">Условия возврата и обмена</button>
    <button class="widget__terms-btn">Условия гарантии</button>
  </div>

  <div class="widget widget-delivery">
    <h3 class="widget__title widget-delivery-title">Доставка</h3>
    <ul class="widget-delivery-list">
      <li class="widget__item widget-delivery-item pickup">
        Самовывоз
        <span>Тариф перевозчика</span>
      </li>
      <li class="widget__item widget-delivery-item courier">
        Доставка курьером
        <span>Тариф перевозчика</span>
      </li>
      <li class="widget__item widget-delivery-item seller">
        Доставка продавца
        <span>Тариф перевозчика</span>
      </li>
      <li class="widget__item widget-delivery-item company">
        Транспортная компания
        <span>Тариф перевозчика</span>
      </li>
    </ul>
  </div>

  <div class="widget widget-pay">
    <h3 class="widget__title widget-pay-title">Оплата</h3>
    <ul class="widget-pay-list">
      <li class="widget__item widget-pay-item online">Оплата онлайн</li>
      <li class="widget__item widget-pay-item cash">Наличными курьеру</li>
      <li class="widget__item widget-pay-item check">По счету</li>
    </ul>
  </div>

  <div class="widget widget-servise">
    <h3 class="widget__title widget-servise-title">Дополнительные сервисы</h3>
    <ul class="widget-servise-list">
      <li class="widget__item widget-servise-item installation">Установка</li>
      <li class="widget__item widget-servise-item service">Обслуживание</li>
      <li class="widget__item widget-servise-item repair">Ремонт</li>
    </ul>
  </div>
</div>
