<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <ul class="header__list">
          <li class="header__top-item">
            <button class="header__top-btn" value="msk">Москва</button>
          </li>
          <li class="header__top-item">
            <button class="header__top-btn" value="rub">RUB (₽)</button>
          </li>
          <li class="header__top-item">
            <button class="header__top-btn" value="ru">Русский (RU)</button>
          </li>
        </ul>
        <div class="header__slogan">
          Максимальный выбор оборудования по минимальным ценам. Новое и подержанное
        </div>
        <div class="header__user">
          <a class="header__user-link" href="#">usermail@mail.ru</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <div class="header__content">
        <a class="logo__link" href="#">
          <img class="logo__img" src="../../images/content/logo.svg" alt="Логотип" />
        </a>
        <div class="header__box">
          <div class="header__catalog-btn">
            <div class="catalog-btn-box">
              <span class="catalog-btn-line1"></span>
              <span class="catalog-btn-line2"></span>
              <span class="catalog-btn-line3"></span>
            </div>
            <span class="catalog-btn-name">Каталог</span>
          </div>
          <input class="header__search input" type="text" placeholder="Поиск на сайте" />
        </div>

        <ul class="header__service-list">
          <li class="header__service-item header__service-favorit">
            <a class="header__service-link" href="#">
              <img class="header__service-icon" src="../../images/icons/bookmark.svg" alt="" />
              <span class="header__service-text">Избранное</span>
            </a>
          </li>
          <li class="header__service-item header__service-compare">
            <a class="header__service-link" href="#">
              <img class="header__service-icon" src="../../images/icons/chart-bar.svg" alt="" />
              <span class="header__service-text">Сравнение</span>
            </a>
          </li>
          <li class="header__service-item header__service-massage">
            <a class="header__service-link" href="#">
              <img class="header__service-icon" src="../../images/icons/chat.svg" alt="" />
              <span class="header__service-text">Сообщения</span>
            </a>
          </li>
          <li class="header__service-item header__service-cart">
            <a class="header__service-link" href="#">
              <span class="header__cart-num">1</span>
              <img class="header__service-icon" src="../../images/icons/shopping-cart.svg" alt="" />
              <span class="header__service-text">Корзина</span>
            </a>
          </li>
        </ul>
        <button class="header__btn-add">Разместить бесплатно</button>
      </div>
    </div>
  </div>
</header>
