.top {
  &-title {
    margin-bottom: 16px;
  }
  &__text {
    margin-bottom: 36px;
  }

  .sort {
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }
    &__box-item {
      display: flex;
      align-items: center;
      gap: 32px;
    }
    &__box-grid {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &__btn-grid {
      @extend %btn-r;
    }
    &__btn {
      @extend %btn-r;
      color: $text;
      &.is-active {
        color: $gray;
      }
    }
    &__btn-change {
      @extend %sourcesans-600;
      color: $text;
    }
    &__bottom {
      display: flex;
      gap: 24px;
      margin-bottom: 24px;
    }
    &__selected {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 17px 36px;
      border-radius: 5px;
      border: 1px solid $accent;
      background-color: #ffffff;
    }
    &__selected-name {
      color: $accent;
    }
    &__selected-del {
      @extend %btn-r;
    }
    &__selected-clear {
      display: flex;
      align-items: center;
      padding: 17px 36px;
      border-radius: 5px;
      color: $red;
      border: 1px solid $red;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}

.slider__box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 36px;
}

.slider__link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 22px;
  width: 260px;
  color: $text;
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
  background-color: #f4f4f4;
}
