.aside {
  .title {
    @extend %sourcesans-600;
    color: $text;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .category {
    padding-bottom: 36px;

    &__content {
      margin-bottom: 16px;
    }

    &__title {
      position: relative;
      transition: transform 0.1s;

      &::after {
        position: absolute;
        top: 4px;
        content: url('../images/icons/chevron-down-gray16.svg');
        margin-left: 4px;
      }

      &.is-active::after {
        transform: rotate(180deg) translateY(5px);
      }
    }

    &__subtitle {
      position: relative;
      @extend %sourcesans-600;
      color: $gray;
      margin-bottom: 8px;
      transition: transform 0.1s;
      cursor: pointer;

      &.is-active {
        color: $text;
      }

      &::after {
        position: absolute;
        top: 4px;
        content: url('../images/icons/chevron-down-gray16.svg');
        margin-left: 4px;
      }

      &.is-active::after {
        transform: rotate(180deg) translateY(5px);
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-left: 16px;
    }

    &__link {
      color: $text;
    }
  }

  .filter {
    &__subtitle {
      position: relative;
      @extend %sourcesans-600;
    }

    &__subtitle-status::after {
      position: absolute;
      top: 4px;
      content: url('../images/icons/tips.svg');
      margin-left: 8px;
    }

    &__subtitle-country::after,
    &__subtitle-brend::after {
      position: absolute;
      top: 4px;
      content: url('../images/icons/format-line-spacing.svg');
      margin-left: 4px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 24px;
    }

    &__item-box {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &__transfer-btn {
      @extend %btn;
      padding: 7px 16px;
      width: 146px;
      height: 36px;
      &.is-active {
        @extend %sourcesans-600;
        color: $accent;
        font-size: 14px;
        line-height: 22px;
        border: 1px solid $mid-gray;
        background: #ffffff;
      }
    }

    &__btn-more {
      @extend %btn-r;
      @extend %sourcesans-600;
      align-self: flex-start;
      color: $accent;
      padding: 0 20px 0 0;
      background-image: url('../images/icons/chevron-right-accent.svg');
      background-position: center right;
      background-repeat: no-repeat;
      margin-top: 16px;
    }

    &__bottom {
      gap: 24px;
    }

    &__bottom-btn {
      @extend %btn-r;
      @extend %sourcesans-600;
      align-self: flex-start;
      padding: 0 0 0 28px;
    }

    &__btn-all {
      background-image: url('../images/icons/filter-equalizer.svg');
      background-position: center left;
      background-repeat: no-repeat;
    }

    &__btn-save {
      background-image: url('../images/icons/filter-bookmark.svg');
      background-position: center left;
      background-repeat: no-repeat;
    }

    &__btn-reset {
      background-image: url('../images/icons/filter-reset.svg');
      background-position: center left;
      background-repeat: no-repeat;
      color: $red;
    }
  }
}
