.footer {
  padding: 78px 0 72px;
  background-color: #f4f4f4;
  @media (max-width: 768px) {
    padding: 24px 0;
  }
  &__top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
    @media (max-width: 768px) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
  &__top-info {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__btn-m {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__top-num {
    color: $text;
    @extend %sourcesans-600;
    font-size: 20px;
    line-height: 30px;
  }
  &__top-caption {
    margin-left: 16px;
  }
  &__center {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    padding: 24px 0 36px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr, auto);
    }
    .footer__title {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  &__center-top {
    @media (max-width: 768px) {
      order: 1;
    }
  }
  &__center-col {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__center-bottom {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__caption,
  &__title {
    @extend %sourcesans-600;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__btn {
    @extend %btn;
    @extend %sourcesans-700;
    height: 60px;
    width: 229px;
    padding: 17px 30px;
    margin-bottom: 36px;
    @media (max-width: 768px) {
      margin-bottom: 0;
      width: 100%;
      height: 46px;
      padding: 10px 30px;
    }
  }
  &__social-list {
    display: flex;
    gap: 16px;
    @media (max-width: 768px) {
      gap: 24px;
    }
  }
  &__social-icon {
    max-width: 29px;
    height: 29px;
  }
  &__menu-item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__menu-link {
    color: $text;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__bottom-text {
    max-width: 1043px;
  }
  &__bottom-btn {
    @extend %btn;
    @extend %sourcesans-700;
    height: 60px;
    width: 352px;
    padding: 17px 30px;
  }
  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d9d9d9;
    padding-top: 24px;
  }
  &__copy-list {
    display: flex;
    align-items: center;
    gap: 48px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
  &__copy-link {
    color: $text;
  }
  &__copy-caption {
    color: #747474;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
