.header {
  display: grid;
  grid-template-rows: 58px 108px;
  @media (max-width: 1360px) {
    grid-template-rows: 58px auto;
  }
  @media (max-width: 768px) {
    grid-template-rows: 1fr;
  }
  &__top {
    padding: 16px 0;
    border-bottom: 1px solid #d9d9d9;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    gap: 45px;
  }

  &__top-btn {
    @extend %btn-r;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    padding-right: 26px;
    background-image: url('../images/icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 18px;
  }

  &__slogan {
    color: $gray;
    @media (max-width: 1360px) {
      display: none;
    }
  }

  &__user-link {
    position: relative;
    color: $text;
    &::before {
      position: absolute;
      top: 0;
      left: -30px;
      content: url('../images/icons/user.svg');
    }
  }

  &__main {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }

  &__menu-btn {
    display: none;
    @extend %btn-r;
    width: 24px;
    height: 24px;
    background-image: url('../images/icons/burger.svg');
    background-repeat: no-repeat;
    background-position: center center;
    @media (max-width: 768px) {
      display: block;
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  .logo__img {
    @media (max-width: 768px) {
      max-width: 148px;
      height: 20px;
      grid-area: 1 / 2 / 2 / 3;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px 0;
    @media (max-width: 1360px) {
      grid-row-gap: 16px;
    }
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 4px;
      padding: 10px 0 16px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 16px;
    @media (max-width: 1360px) {
      order: 1;
      width: 100%;
    }
    @media (max-width: 768px) {
      grid-area: 2 / 1 / 3 / 4;
    }
  }

  &__catalog-btn {
    display: flex;
    justify-content: space-between;
    @extend %sourcesans-600;
    color: #ffffff;
    background-color: $accent;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    padding: 17px 35px;
    transition: all 0.3s;
    @media (max-width: 768px) {
      display: none;
    }

    /*     &:hover {
      .catalog-btn-line1 {
        transform: rotate(-45deg);
        transition: transform 0.3s;
        transform-origin: left center;
      }
      .catalog-btn-line2 {
        display: none;
      }
      .catalog-btn-line3 {
        transform: rotate(45deg) translate(-10px, 0px);
        transition: transform 0.3s;
        transform-origin: left center;
      }
    } */
  }

  .catalog-btn-box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 24px;
    height: 24px;

    span {
      display: inline-block;
      background-color: #ffffff;
      width: 20px;
      height: 2px;
      border-radius: 5px;
      margin-bottom: 4px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 381px;
    height: 60px;
    color: $text;
    padding: 17px 24px;
    border-radius: 5px;
    background-color: #f4f4f4;
    border: none;
    &::placeholder {
      color: $text;
    }
    @media (max-width: 1360px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      width: 100%;
      height: 40px;
      padding: 7px 16px;
    }
  }

  &__service-list {
    display: flex;
    gap: 36px;
    @media (max-width: 768px) {
      justify-content: flex-end;
      grid-area: 1 / 3 / 2 / 4;
    }
  }

  &__service-favorit,
  &__service-compare,
  &__service-massage {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__service-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &__cart-num {
    position: absolute;
    top: -4px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %sourcesans-700;
    width: 14px;
    height: 14px;
    font-size: 8px;
    border-radius: 50%;
    background-color: $red;
    color: #ffffff;
    @media (max-width: 768px) {
      right: -4px;
    }
  }

  &__service-icon {
    width: 24px;
    height: 24px;
    @media (max-width: 768px) {
      width: 29px;
      height: 29px;
    }
  }

  &__service-text {
    font-size: 12px;
    line-height: 18px;
    color: $gray;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__btn-add {
    @extend %btn;
    @extend %sourcesans-600;
    width: 229px;
    padding: 17px 30px;
    font-size: 16px;
    line-height: 26px;

    @media (max-width: 768px) {
      display: none;
    }
  }
  &__btn-map {
    display: none;
    @extend %sourcesans-600;
    font-size: 14px;
    line-height: 22px;
    padding-left: 24px;
    border: none;
    text-align: left;
    color: $gray;
    background-color: transparent;
    background-image: url('../images/icons/map.svg');
    background-repeat: no-repeat;
    background-position: center left;

    @media (max-width: 768px) {
      display: block;
      grid-area: 3 / 1 / 4 / 4;
    }
  }
}
