.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination__list {
  display: flex;
  align-items: center;
  gap: 4px;
}
.pagination__item {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  color: $text;
}
.pagination__item.is-active {
  background-color: $accent;
  color: #ffffff;
}
.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: inherit;
}
.pagination__next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: $blue;
  cursor: pointer;
  &::after {
    content: url('../images/icons/chevron-right-blue.svg');
    padding: 5px 5px 0;
  }
}
.pager__total {
  color: $gray;
}
