<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs__inner">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#"> Оборудование </a>
        </li>
        <li class="breadcrumbs__item drop-down">
          <a class="breadcrumbs__link" href="#"> Станки и оборудование (1378) </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#"> Cплит-cиcтeмa Rivacold WSH028 Z001 </a>
        </li>
      </ul>
    </div>
  </div>
</div>
