<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="logo__link" href="#">
        <img class="logo__img" src="./images/content/logo.svg" alt="Логотип" />
      </a>

      <div class="footer__top-info">
        <span class="footer__top-num">345 000</span>
        <span class="footer__top-caption">Посетителей в месяц</span>
      </div>

      <div class="footer__top-info">
        <span class="footer__top-num">598</span>
        <span class="footer__top-caption">Посетителей сейчас на сайте</span>
      </div>

      <div class="footer__top-info">
        <span class="footer__top-num">109</span>
        <span class="footer__top-caption">Единиц продано вчера</span>
      </div>

      <button class="footer__btn">Написать нам</button>
    </div>

    <div class="footer__center">
      <div class="footer__center-top">
        <div class="footer__center-col">
          <div class="footer__title">Обратная связь</div>
          <button class="footer__btn">Написать нам</button>
        </div>
        <div class="footer__center-social">
          <div class="footer__title">Мы в соцсетях</div>
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <a class="footer__social-link" href="#" target="_blank">
                <img
                  class="footer__social-icon svg-facebook-dims"
                  src="../../images/icons/facebook.svg"
                  alt="facebook иконка"
                  width="29"
                  height="29"
                />
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#" target="_blank">
                <img
                  class="footer__social-icon svg-vk-dims"
                  src="../../images/icons/vk.svg"
                  alt="VK иконка"
                  width="29"
                  height="29"
                />
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#" target="_blank">
                <img
                  class="footer__social-icon svg-inst-dims"
                  src="../../images/icons/inst.svg"
                  alt="Инстаграм иконка"
                  width="29"
                  height="29"
                />
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#" target="_blank">
                <img
                  class="footer__social-icon svg-telegram-dims"
                  src="../../images/icons/telegram.svg"
                  alt="telegram иконка"
                  width="29"
                  height="29"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__menu-box">
        <div class="footer__menu-caption js-footer-caption is-active">О нас</div>

        <ul class="footer__menu-list js-content active-content">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#"> О сервисе</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#"> Блог</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#"> Часто задаваемые вопросы</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#"> Контакты</a>
          </li>
        </ul>
      </div>

      <div class="footer__menu-box">
        <div class="footer__menu-caption js-footer-caption">Продавцам</div>

        <ul class="footer__menu-list js-content">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Наши преимущества </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Тарифы</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Добавить товар </a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Добавить продавца</a>
          </li>
        </ul>
      </div>

      <div class="footer__menu-box">
        <div class="footer__menu-caption js-footer-caption">Покупателям</div>

        <ul class="footer__menu-list js-content">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Оплата и доставка</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Возвраты</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#"> Условия гарантии</a>
          </li>
        </ul>
      </div>

      <div class="footer__menu-box footer__menu-bottom-box">
        <div class="footer__menu-caption js-footer-caption">Контакты портала</div>
        <div class="js-content">
          <p class="footer__menu-text">
            Machinerea не является интернет-магазином. Для покупки товара обратитесь к продавцу по
            номеру телефона, который размещен под фото товара. Если у вас возникли вопросы по работе
            портала, вы можете задать их по номеру +7 (499) 638‑34‑50
          </p>

          <button class="footer__bottom-btn">Как совершить покупку?</button>
        </div>
      </div>

      <div class="footer__center-bottom">
        <div class="footer__title">Наш партнер</div>
        <picture>
          <source srcset="./images/content/busines-logo.webp" type="image/webp" />
          <source srcset="./images/content/busines-logo.avif" type="image/avif" />
          <img
            class="footer__partner-logo"
            src="./images/content/busines-logo.png"
            alt="Логотип партнеров"
            width="167"
            height="26"
          />
        </picture>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom-inner">
        <div class="footer__bottom-caption footer__title">Контакты портала</div>
        <p class="footer__bottom-text">
          Machinerea не является интернет-магазином. Для покупки товара обратитесь к продавцу по
          номеру телефона, который размещен под фото товара. Если у вас возникли вопросы по работе
          портала, вы можете задать их по номеру +7 (499) 638‑34‑50
        </p>
      </div>

      <button class="footer__bottom-btn">Как совершить покупку?</button>
    </div>

    <div class="footer__copy">
      <ul class="footer__copy-list">
        <li class="footer__copy-item">
          <a class="footer__copy-link" href="#">Пользовательское соглашение</a>
        </li>
        <li class="footer__copy-item">
          <a class="footer__copy-link" href="#">Политика конфиденциальности</a>
        </li>
        <li class="footer__copy-item">
          <a class="footer__copy-link" href="#">Публичный договор с продавцом</a>
        </li>
        <li class="footer__copy-item">
          <a class="footer__copy-link" href="#">Сообщить об ошибке</a>
        </li>
      </ul>
      <span class="footer__copy-caption">© 2023 Machinerea</span>
    </div>
  </div>
</footer>
