<div class="modal modal-r">
  <div class="modal-review">
    <div class="modal-review__inner">
      <h2 class="modal-review__title title">Оставить отзыв о продавце</h2>
      <button type="button" class="modal-review__close close"></button>

      <form class="modal-review-form" action="#" method="post" enctype="multipart/form-data">
        <div class="modal-review-form__inner">
          <div class="modal-review-form__row">
            <div class="modal-review__subtitle">Вы купили товар?<span>*</span></div>
            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="pay" />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Да</span>
            </label>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="pay" checked />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Нет</span>
            </label>
          </div>

          <div class="modal-review-form__row">
            <div class="modal-review__subtitle">Чем все закончилось?<span>*</span></div>
            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="active" />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Встречей</span>
            </label>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="active" checked />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Отправкой товара доставкой</span>
            </label>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="active" />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Общение по телефону или переписке</span>
            </label>
          </div>

          <div class="modal-review__bottom">
            <button class="modal-review-btn modal-review-btn__reset" type="reset">Отменить</button>
            <button class="modal-review-btn modal-review-btn__submit" type="submit">
              Отправить
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal modal-r2">
  <div class="modal-review">
    <div class="modal-review__inner">
      <h2 class="modal-review__title">Оставить отзыв о продавце</h2>
      <button type="button" class="modal-review__close close"></button>

      <form class="modal-review-form" action="#" method="post" enctype="multipart/form-data">
        <div class="modal-review-form__inner">
          <div class="modal-review-form__row">
            <div class="modal-review__subtitle">Вы купили товар?<span>*</span></div>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="pay" />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Да</span>
            </label>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="pay" checked />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Нет</span>
            </label>
          </div>

          <div class="modal-review-form__row">
            <div class="modal-review__subtitle">Оценка<span>*</span></div>

            <div class="reviews__rating">
              <div class="stars" data-total-value="4">
                <div class="star" data-item-value="5">★</div>
                <div class="star" data-item-value="4">★</div>
                <div class="star" data-item-value="3">★</div>
                <div class="star" data-item-value="2">★</div>
                <div class="star" data-item-value="1">★</div>
              </div>
            </div>
          </div>

          <div class="modal-review-form__row form__row">
            <div class="modal-review__subtitle">Комментарий<span>*</span></div>
            <textarea
              class="modal-review__textarea"
              name="user-text"
              id="textarea"
              placeholder="Расскажите подробнее"
              required
            ></textarea>

            <div class="modal-review-form__row form__row">
              <input class="modal-review-form__file" type="file" name="user-file" />
              <button class="modal-review-form__btn" type="button">
                Добавьте фотографии, если есть
              </button>
            </div>
          </div>

          <div class="modal-review__bottom">
            <button class="modal-review-btn modal-review-btn__reset" type="reset">Отменить</button>
            <button class="modal-review-btn modal-review-btn__submit" type="submit">
              Отправить
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
