<div class="modal modal-r js-modal">
  <div class="modal-review">
    <div class="modal-review__inner">
      <h2 class="modal-review__title title">Оставить отзыв о продавце</h2>
      <button type="button" class="modal-review__close close"></button>

      <form class="modal-review-form" action="#" method="post" enctype="multipart/form-data">
        <div class="modal-review-form__inner">
          <div class="modal-review-form__row">
            <div class="modal-review__subtitle">Вы купили товар?<span>*</span></div>
            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="pay" />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Да</span>
            </label>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="pay" checked />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Нет</span>
            </label>
          </div>

          <div class="modal-review-form__row">
            <div class="modal-review__subtitle">Чем все закончилось?<span>*</span></div>
            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="active" />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Встречей</span>
            </label>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="active" checked />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Отправкой товара доставкой</span>
            </label>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="active" />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Общение по телефону или переписке</span>
            </label>
          </div>

          <div class="modal-review__bottom">
            <button class="modal-review__btn modal-review__btn-reset" type="reset">Отменить</button>
            <button class="modal-review__btn modal-review__btn-submit" type="submit">
              Отправить
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal modal-r2 js-modal">
  <div class="modal-review">
    <div class="modal-review__inner">
      <h2 class="modal-review__title">Оставить отзыв о продавце</h2>
      <button type="button" class="modal-review__close close"></button>

      <form class="modal-review-form" action="#" method="post" enctype="multipart/form-data">
        <div class="modal-review-form__inner">
          <div class="modal-review-form__row">
            <div class="modal-review__subtitle">Вы купили товар?<span>*</span></div>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="pay" />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Да</span>
            </label>

            <label class="filter__label label">
              <div class="filter__input-box input-box">
                <input class="filter__radio radio" type="radio" name="pay" checked />
                <span class="filter__radio-marker radio-marker"></span>
              </div>
              <span class="filter__label-name label-name">Нет</span>
            </label>
          </div>

          <div class="modal-review-form__row">
            <div class="modal-review__subtitle">Оценка<span>*</span></div>

            <div class="reviews__rating">
              <div class="stars--big" data-total-value="4">
                <div class="star--big" data-item-value="5">
                  <svg viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.04894 0.927049C5.3483 0.00573826 6.6517 0.00573993 6.95106 0.927051L7.5716 2.83688C7.70547 3.2489 8.08943 3.52786 8.52265 3.52786H10.5308C11.4995 3.52786 11.9023 4.76748 11.1186 5.33688L9.49395 6.51722C9.14347 6.77187 8.99681 7.22323 9.13068 7.63525L9.75122 9.54508C10.0506 10.4664 8.9961 11.2325 8.21238 10.6631L6.58778 9.48278C6.2373 9.22813 5.7627 9.22814 5.41221 9.48278L3.78761 10.6631C3.0039 11.2325 1.94942 10.4664 2.24878 9.54508L2.86932 7.63526C3.00319 7.22323 2.85653 6.77186 2.50604 6.51722L0.881445 5.33688C0.0977311 4.76748 0.500508 3.52786 1.46923 3.52786H3.47735C3.91057 3.52786 4.29453 3.2489 4.4284 2.83688L5.04894 0.927049Z"
                      fill="#FFB800"
                    />
                  </svg>
                </div>
                <div class="star--big" data-item-value="4">
                  <svg viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.04894 0.927049C5.3483 0.00573826 6.6517 0.00573993 6.95106 0.927051L7.5716 2.83688C7.70547 3.2489 8.08943 3.52786 8.52265 3.52786H10.5308C11.4995 3.52786 11.9023 4.76748 11.1186 5.33688L9.49395 6.51722C9.14347 6.77187 8.99681 7.22323 9.13068 7.63525L9.75122 9.54508C10.0506 10.4664 8.9961 11.2325 8.21238 10.6631L6.58778 9.48278C6.2373 9.22813 5.7627 9.22814 5.41221 9.48278L3.78761 10.6631C3.0039 11.2325 1.94942 10.4664 2.24878 9.54508L2.86932 7.63526C3.00319 7.22323 2.85653 6.77186 2.50604 6.51722L0.881445 5.33688C0.0977311 4.76748 0.500508 3.52786 1.46923 3.52786H3.47735C3.91057 3.52786 4.29453 3.2489 4.4284 2.83688L5.04894 0.927049Z"
                      fill="#FFB800"
                    />
                  </svg>
                </div>
                <div class="star--big" data-item-value="3">
                  <svg viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.04894 0.927049C5.3483 0.00573826 6.6517 0.00573993 6.95106 0.927051L7.5716 2.83688C7.70547 3.2489 8.08943 3.52786 8.52265 3.52786H10.5308C11.4995 3.52786 11.9023 4.76748 11.1186 5.33688L9.49395 6.51722C9.14347 6.77187 8.99681 7.22323 9.13068 7.63525L9.75122 9.54508C10.0506 10.4664 8.9961 11.2325 8.21238 10.6631L6.58778 9.48278C6.2373 9.22813 5.7627 9.22814 5.41221 9.48278L3.78761 10.6631C3.0039 11.2325 1.94942 10.4664 2.24878 9.54508L2.86932 7.63526C3.00319 7.22323 2.85653 6.77186 2.50604 6.51722L0.881445 5.33688C0.0977311 4.76748 0.500508 3.52786 1.46923 3.52786H3.47735C3.91057 3.52786 4.29453 3.2489 4.4284 2.83688L5.04894 0.927049Z"
                      fill="#FFB800"
                    />
                  </svg>
                </div>
                <div class="star--big" data-item-value="2">
                  <svg viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.04894 0.927049C5.3483 0.00573826 6.6517 0.00573993 6.95106 0.927051L7.5716 2.83688C7.70547 3.2489 8.08943 3.52786 8.52265 3.52786H10.5308C11.4995 3.52786 11.9023 4.76748 11.1186 5.33688L9.49395 6.51722C9.14347 6.77187 8.99681 7.22323 9.13068 7.63525L9.75122 9.54508C10.0506 10.4664 8.9961 11.2325 8.21238 10.6631L6.58778 9.48278C6.2373 9.22813 5.7627 9.22814 5.41221 9.48278L3.78761 10.6631C3.0039 11.2325 1.94942 10.4664 2.24878 9.54508L2.86932 7.63526C3.00319 7.22323 2.85653 6.77186 2.50604 6.51722L0.881445 5.33688C0.0977311 4.76748 0.500508 3.52786 1.46923 3.52786H3.47735C3.91057 3.52786 4.29453 3.2489 4.4284 2.83688L5.04894 0.927049Z"
                      fill="#FFB800"
                    />
                  </svg>
                </div>
                <div class="star--big" data-item-value="1">
                  <svg viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.04894 0.927049C5.3483 0.00573826 6.6517 0.00573993 6.95106 0.927051L7.5716 2.83688C7.70547 3.2489 8.08943 3.52786 8.52265 3.52786H10.5308C11.4995 3.52786 11.9023 4.76748 11.1186 5.33688L9.49395 6.51722C9.14347 6.77187 8.99681 7.22323 9.13068 7.63525L9.75122 9.54508C10.0506 10.4664 8.9961 11.2325 8.21238 10.6631L6.58778 9.48278C6.2373 9.22813 5.7627 9.22814 5.41221 9.48278L3.78761 10.6631C3.0039 11.2325 1.94942 10.4664 2.24878 9.54508L2.86932 7.63526C3.00319 7.22323 2.85653 6.77186 2.50604 6.51722L0.881445 5.33688C0.0977311 4.76748 0.500508 3.52786 1.46923 3.52786H3.47735C3.91057 3.52786 4.29453 3.2489 4.4284 2.83688L5.04894 0.927049Z"
                      fill="#FFB800"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-review-form__row form__row">
            <div class="modal-review__subtitle">Комментарий<span>*</span></div>
            <textarea
              class="modal-review__textarea"
              name="user-text"
              id="textarea"
              placeholder="Расскажите подробнее"
              required
            ></textarea>

            <div class="modal-review-form__row form__row">
              <input class="modal-review-form__file" type="file" name="user-file" />
              <button class="modal-review-form__btn" type="button">
                Добавьте фотографии, если есть
              </button>
            </div>
          </div>

          <div class="modal-review__bottom">
            <button class="modal-review__btn modal-review__btn-reset" type="reset">Отменить</button>
            <button class="modal-review__btn modal-review__btn-submit" type="submit">
              Отправить
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
