<section class="description desc block__top">
  <div class="desc__top-box block__top-box">
    <h2 class="desc__title title">Описание</h2>
    <button class="btn-edit">Редактировать</button>
  </div>
  <div class="desc__content">
    <h3 class="desc__subtitle">Cплит-cиcтeмa Rivacold WSH028 Z001</h3>
    <p class="desc__text">
      Сайт рыбатекст поможет дизайнеру, <a class="desc__link" href="#">верстальщику</a>,
      <a class="desc__link" href="#">вебмастеру</a>
      сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а
      начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании
      генератора мы использовали небезизвестный универсальный код речей.
      <a class="desc__link" href="#">Текст генерируется</a> абзацами случайным образом от двух до
      десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для
      визуально-слухового восприятия.
    </p>
    <p class="desc__text">
      По своей сути рыбатекст является
      <a class="desc__link" href="#">альтернативой</a> традиционному lorem ipsum, который вызывает у
      некторых <a class="desc__link" href="#">людей недоумение</a> при попытках прочитать рыбу
      текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным
      смыслом и придаст неповторимый колорит советских времен.
    </p>
  </div>
  <div class="desc__donate">
    <div class="desc__donate-slogan">
      Помогите дополнить описание или поддержите материально дополняющих
    </div>
    <div class="desc__donate-box">
      <button class="desc__donate-btn">Пожертвовать</button>
      <button class="btn-edit">Редактировать</button>
    </div>
  </div>
</section>
