<div class="widget__content">
  <div class="widget widget-order">
    <div class="tags">
      <div class="tag tag-order">Под заказ</div>
      <div class="tag tag-favorite">Выбор покупателей</div>
    </div>
    <div class="price__box">
      <ins class="price-new widget-price">5 000 ₽</ins>
      <del class="price-old">10 000 ₽</del>
    </div>
    <div class="widget-delivery delivery">
      <label class="widget__label">
        Доставка до
        <input class="widget__input" type="text" placeholder="Москва" />
      </label>
      <div class="widget-delivery__box">
        <div class="widget-delivery__title">Доставка продавца</div>
        <p class="widget-delivery__desc">
          Транспортной компанией, завтра 14 августа — <span>150 руб.</span>
        </p>
      </div>
      <div class="widget-delivery__box">
        <div class="widget-delivery__title">Доставка Machinerea</div>
        <p class="widget-delivery__desc">
          Транспортной компанией, завтра 14 августа — <span>150 руб.</span>
        </p>
      </div>
    </div>
    <div class="widget__btns">
      <button class="widget__btn">Добавить в корзину</button>
      <a class="widget__link" href="#">15 предложений от 5 000 ₽</a>
      <a class="widget__link" href="#">15 предложений по аренде</a>
    </div>
  </div>

  <div class="widget__title title">
    Лучшие предложения <a class="widget__title-link" href="#">(из 15):</a>
  </div>

  <div class="widget widget-offer">
    <div class="tags">
      <div class="tag tag-new">Новый</div>
      <div class="tag tag-favorite">Выбор покупателей</div>
    </div>

    <div class="widget-meta">
      <div class="widget-meta__box">
        <div class="widget-meta__name">Асафьев Стас</div>
        <div class="widget-meta__price">5 000 ₽</div>
      </div>
      <div class="widget-meta__box">
        <div class="product__info">
          <div class="rating">5.0</div>
          <div class="reviews">
            <span>800</span>
            отзывов
          </div>
        </div>
        <div class="widget-meta__local">Санкт-Петербург</div>
      </div>
    </div>

    <div class="widget__btns">
      <button class="widget__btn">В корзину</button>
      <a class="widget__link widget__link-offer" href="#">Подробнее</a>
    </div>
  </div>

  <div class="widget widget-info">
    <div class="tags">
      <div class="tag tag-used">Поддержанный</div>
      <div class="tag tag-favorite">Выбор покупателей</div>
    </div>

    <div class="widget-meta">
      <div class="widget-meta__box">
        <div class="widget-meta__name">Асафьев Стас</div>
        <div class="widget-meta__price">5 000 ₽</div>
      </div>
      <div class="widget-meta__box">
        <div class="product__info">
          <div class="rating">5.0</div>
          <div class="reviews">
            <span>800</span>
            отзывов
          </div>
        </div>
        <div class="widget-meta__local">Санкт-Петербург</div>
      </div>
    </div>

    <div class="widget__btns">
      <button class="widget__btn">Подробнее</button>
    </div>
  </div>
</div>
