.tabs {
  margin-bottom: 96px;

  .tabs__btn {
    @extend %sourcesans-600;
    background-color: #ffffff;
    padding: 17px 32px;
    border: none;
    background-color: transparent;
    color: $text;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $accent;
    }

    &.is-active {
      position: relative;
      background-color: #fff;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      color: $gray;
      &::after {
        position: absolute;
        bottom: -10px;
        left: 0;
        content: '';
        background-color: #fff;
        width: 100%;
        height: 20px;
      }
    }
  }

  .tabs__content {
    padding: 36px 48px;
    background-color: #ffffff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .tabs__item {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .tabs__item-box {
    margin-bottom: 36px;
  }

  .tabs__subtitle {
    margin-bottom: 16px;
  }

  .tabs__text {
    margin-bottom: 24px;
  }
  .tabs__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .tabs__list-box {
    display: grid;
    grid-template-columns: 304px auto;
    gap: 16px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 16px;
  }
  .tabs__list-brend {
    color: $gray;
  }
  .tabs__btn-hidden {
    @extend %btn-r;
    @extend %sourcesans-600;
    background-image: url('../images/icons/chevron-up-blue.svg');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 28px;
    color: $blue;
  }
}

.tabs__about-top {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.tabs__user-img {
  object-fit: cover;
}

.tabs__about-user-name {
  @extend %sourcesans-600;
  font-style: normal;
}

.tabs__about-user-bye {
  color: $gray;
}

.tabs__about-user-data {
  color: $gray;
}

.tabs__about-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tabs__about-item-name {
  @extend %sourcesans-600;
  font-size: 20px;
  line-height: 26px;
  color: $blue;
}

.tabs__about-item-img {
  width: 20px;
  height: 20px;
}

.tabs__about-top-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 75px;
}

.tabs__about-top-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 16px;
  max-width: 200px;
}

.tabs__about-top-num {
  color: $blue;
}

.tabs__about-top-ur {
  color: $gray;
}

.tabs__about-contact-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
  gap: 16px 45px;
}

.tabs__about-contact-link,
.tabs__about-contact-email {
  position: relative;
  @extend %sourcesans-600;
  font-size: 16px;
  line-height: 26px;
  color: $text;
  padding-left: 26px;
}

.tabs__about-contact-local {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: $text;
  padding-left: 26px;

  &:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: url('../images/icons/map-blue.svg');
  }
}

.tabs__about-contact-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url('../images/icons/phone-blue.svg');
}

.tabs__about-contact-email::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url('../images/icons/emai-bluel.svg');
}

.tabs__about-box {
  margin-bottom: 36px;
}

.tabs__about-link {
  @extend %sourcesans-600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid $accent;
  color: $accent;
  height: 46px;
  padding: 12px 30px;
  margin-bottom: 8px;
  cursor: pointer;
}

.tabs__about-map {
  margin-bottom: 36px;
}

.tabs__map-subtitle {
  margin-bottom: 16px;
}

.tabs__map-img {
  max-width: 992px;
}

.tabs__about-list-info {
  margin-top: 24px;
}

.tabs__about-text {
  margin-bottom: 24px;
}

.tabs__about-btn {
  @extend %btn-r;
  @extend %sourcesans-600;
  color: $blue;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
}

.tabs__reviews-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;

  .star {
    font-size: 24px;
  }
}

.tabs__reviews-btn {
  @extend %btn;
  @extend %sourcesans-600;
  width: 304px;
  height: 46px;
  padding: 12px 30px;
  margin-top: 24px;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 22px;
  }
}

.tabs__reviews-top-inner {
  display: flex;
  gap: 24px;
}

.tabs__reviews-rating-box {
  width: 320px;
}

.tabs__reviews-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;
  border-bottom: 1px solid $mid-gray;
  margin-bottom: 16px;
}

.tabs__reviews-numbers {
  @extend %sourcesans-600;
  font-size: 24px;
  line-height: 32px;
}

.tabs__reviews-more {
  @extend %btn-r;
  @extend %sourcesans-600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 17px 30px;
  border-radius: 0px 0px 5px 5px;
  background: var(--Mid-gray, #d9d9d9);
}

.progressbar {
  font-size: 14px;
  line-height: 22px;
  color: $text;

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__name {
    color: $gray;
  }

  &__line {
    position: relative;
    display: block;
    width: 230px;
    height: 3px;
    background-color: $mid-gray;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background-color: $yellow;
      width: 130px;
      height: 3px;
      z-index: 1;
    }
  }
}

.tabs__about-user {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabs__about-user-item {
  padding: 36px;
  border-radius: 5px 5px 0px 0px;
  background-color: #f4f4f4;
}
