.char {
  &__title,
  &__subtitle {
    margin-bottom: 24px;
  }

  .list.char__list {
    margin-bottom: 36px;
  }

  .list__item {
    margin-bottom: 16px;
  }

  .list__index {
    min-width: 60%;
    max-width: 60%;
  }
}
