.reviews__block {
  .reviews {
    &__top-box {
      margin-bottom: 24px;
    }

    &__title {
      color: $text;
      span {
        font-size: 32px;
        line-height: 54px;
        color: $gray;
      }
    }
    &__rating {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &__rating-num {
      @extend %sourcesans-600;
      font-size: 24px;
      line-height: 46px;
    }
    &__btn {
      @extend %btn;
      width: 280px;
      height: 60px;
      padding: 17px 30px;
    }
  }
}

.reviews__content {
}
.reviews__carousel {
}
.reviews__subtitle {
}
.subtitle {
}
.reviews__carousel-box {
}

.reviews__subtitle {
  margin-bottom: 24px;
}

.reviews__carousel-box {
  display: flex;
  gap: 16px;
  margin-bottom: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid #c4c4c4;
}

.reviews__write {
}

.reviews__write-subtitle {
  margin-bottom: 8px;
}

.reviews__slogan {
  color: $gray;
  margin-bottom: 16px;
}

.reviews__info {
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.12);
}

.reviews__info-item {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}

.reviews__info-caption {
  @extend %sourcesans-600;
  margin-bottom: 8px;
}

.reviews__useful {
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
}

.reviews__useful-caption {
  margin-right: 20px;
  color: $gray;
}

.reviews__useful-btn {
  @extend %sourcesans-600;
  border-radius: 5px;
  border: none;
  padding: 3px 20px;
  color: #ffffff;
  cursor: pointer;

  &-up {
    background-color: $green;
  }

  &-down {
    background-color: $red;
  }
}

.reviews__user {
}

.reviews__user-item {
  padding: 36px;
  border-radius: 5px 5px 0px 0px;
  background-color: #f4f4f4;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.reviews__user-top {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.reviews__user-top-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews__user-slogan {
  align-self: flex-end;
}

.reviews__user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews__user-name,
.reviews__user-rating-num {
  @extend %sourcesans-600;
}

.reviews__user-content {
}

.reviews__user-items {
  margin-bottom: 16px;
}

.reviews__user-caption {
  @extend %sourcesans-600;
}

.reviews__user-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__user-bottom-box {
  display: flex;
  align-items: center;
  gap: 36px;
}

.reviews__user-box {
  display: flex;
  gap: 8px;
}

.reviews__user-btn {
  @extend %btn-r;
  color: $blue;
}

.reviews__user-time,
.reviews__user-local {
  color: $gray;
}

.reviews__user-feedback {
  display: flex;
  align-items: center;
  gap: 36px;
}

.reviews__feedback-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.reviews__user-like.is-active svg path,
.reviews__user-like:hover svg path {
  fill: $green;
}

.reviews__user-dislike.is-active svg path,
.reviews__user-dislike:hover svg path {
  fill: $red;
}

.reviews__user-num {
  color: $gray;
}

.reviews__user-btn-more {
  @extend %sourcesans-600;
  width: 100%;
  height: 60px;
  padding: 17px 30px;
  background-color: $mid-gray;
  border: none;
  cursor: pointer;
}
