.first-screen {
  padding-bottom: 96px;
  
  &__content {
    display: flex;
    gap: 16px;
  }

  &__carousel {
    display: flex;
  }

  &__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 757px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__info-subtitle {
    font-size: 16px;
    line-height: 26px;
    color: $text;
    margin-bottom: 16px;
  }

  &__btn-more {
    @extend %btn-r;
    color: $blue;
    margin-bottom: 56px;
  }

  &__brend-btn {
    @extend %btn-r;
    color: $blue;
    margin-bottom: 16px;
  }

  &__brend-link {
    display: inline-block;
    color: $blue;
    margin-bottom: 28px;
  }

  &__brend-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }

  &__terms {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__terms-btn {
    @extend %btn-r;
    color: $blue;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 36px;
    &:nth-child(1) {
      background-image: url('../images/icons/sync-blue.svg');
    }
    &:nth-child(2) {
      background-image: url('../images/icons/protect-blue.svg');
    }
  }

  .list {
    margin-bottom: 24px;
  }
}
