.first-screen {
  .first-screen__content {
    display: flex;
    gap: 16px;
  }
  .first-screen__carousel {
    display: flex;
  }
  .first-screen__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 757px;
  }
  .first-screen__info {
    display: flex;
    flex-direction: column;
  }
  .first-screen__info-subtitle {
    font-size: 16px;
    line-height: 26px;
    color: $text;
    margin-bottom: 16px;
  }
  .first-screen__btn-more {
    @extend %btn-r;
    color: $blue;
    margin-bottom: 56px;
  }
  .first-screen__brend-btn {
    @extend %btn-r;
    color: $blue;
    margin-bottom: 16px;
  }
  .first-screen__brend-link {
    display: inline-block;
    color: $blue;
    margin-bottom: 28px;
  }
  .first-screen__brend-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }
  .first-screen__terms {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .first-screen__terms-btn {
    @extend %btn-r;
    color: $blue;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 36px;
    &:nth-child(1) {
      background-image: url('../images/icons/sync-blue.svg');
    }
    &:nth-child(2) {
      background-image: url('../images/icons/protect-blue.svg');
    }
  }
  .settings__list {
    margin-bottom: 24px;
  }
}
