.widget {
  max-width: 352px;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

  .tags {
    position: relative;
    margin-bottom: 24px;
    &::after {
      position: absolute;
      top: 3px;
      right: 0;
      content: url('../images/icons/warning.svg');
    }
  }

  .product__info {
    margin-bottom: 0;
  }

  .price__box {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 24px;
  }

  .price-new {
    position: relative;
    @extend %sourcesans-700;
    font-size: 32px;
    line-height: 28px;
    text-decoration: none;
  }

  .widget-price::after {
    position: absolute;
    top: 0;
    right: -24px;
    content: url('../images/icons/success-blue.svg');
  }

  .price-old {
    color: $gray;
  }

  .widget-delivery {
    margin-bottom: 24px;
  }

  .widget__label {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: $text;
    margin-bottom: 24px;
  }

  .widget__input {
    font-size: 14px;
    line-height: 22px;
    color: $text;
    height: 38px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #f4f4f4;
    margin-left: 16px;
    cursor: auto;
  }

  .widget-delivery__box {
    margin-bottom: 24px;
  }

  .widget-delivery__title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .widget-delivery__desc {
    font-size: 12px;
    line-height: 18px;
    color: $gray;
    span {
      color: $green;
    }
  }

  .widget__btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .widget__btn {
    @extend %sourcesans-600;
    @extend %btn;
    height: 46px;
    padding: 12px 30px;
  }

  .widget__link {
    @extend %sourcesans-600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $accent;
    color: $accent;
    height: 46px;
    padding: 12px 30px;
    margin-bottom: 8px;

    &.widget__link-offer:last-child {
      border: 1px solid $accent;
    }

    &:last-child {
      border: none;
      padding: 0;
      margin-bottom: 0;
    }
  }

  .widget-meta {
    margin-bottom: 24px;
  }

  .widget-meta__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .widget-meta__local {
    color: $gray;
  }
  .widget-meta__price {
    @extend %sourcesans-700;
    font-size: 18px;
    line-height: 28px;
  }
}

.widget-order {
  min-height: 500px;
  margin-bottom: 48px;
}
.widget__title {
  margin-bottom: 16px;
}
.widget-offer {
  min-height: 272px;
  margin-bottom: 83px;
}
.widget-info {
  min-height: 214px;
}
