<div class="category">
  <div class="category__title title is-active">Категории</div>
  <div class="category__content">
    <div class="category__subtitle is-active">Станки и оборудование (<span>1378</span>)</div>
    <ul class="category__list">
      <li class="category__item">
        <a class="category__link" href="#">Станки (<span>395</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Непищевое оборудование (<span>377</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Пищевое оборудование (<span>199</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Печатное оборудование (<span>42</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Аттракцион (<span>32</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Электрооборудование (<span>30</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Для салонов красоты (<span>26</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Для автомоек и СТО (<span>26</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Медицинское (<span>17</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Вендинговый аппарат (<span>16</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Спортивное оборудование (<span>14</span>)</a>
      </li>
      <li class="category__item">
        <a class="category__link" href="#">Вентиляционное (<span>12</span>)</a>
      </li>
    </ul>
  </div>
  <div class="category__content">
    <div class="category__subtitle">Производственные линии (<span>130</span>)</div>
  </div>
  <div class="category__content">
    <div class="category__subtitle">Мебель (<span>116</span>)</div>
  </div>
  <div class="category__content">
    <div class="category__subtitle">Машины и техника (<span>115</span>)</div>
  </div>
  <div class="category__content">
    <div class="category__subtitle">Запчасти (<span>17</span>)</div>
  </div>
  <div class="category__content">
    <div class="category__subtitle">Рекламные стенды (<span>14</span>)</div>
  </div>
  <div class="category__content">
    <div class="category__subtitle">Пресс-формы (<span>10</span>)</div>
  </div>
  <div class="category__content">
    <div class="category__subtitle">Бетонные заводы (<span>10</span>)</div>
  </div>
</div>
