<section class="top">
  <h2 class="top-title title">Станки и оборудование</h2>
  <p class="top__text">
    Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
    менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных
    выступлений в домашних условиях.
  </p>

  <div class="swiper">
    <div class="swiper-wrapper slider__box">
      <a class="swiper-slide slider__link" href="#">
        <img class="slider__item-img" src="../../../images/content/top-slider1.jpg" alt="slider" />
        <span class="slider__item-caption">Готовый набор</span>
      </a>
      <a class="swiper-slide slider__link" href="#">
        <img class="slider__item-img" src="../../../images/content/top-slider2.jpg" alt="slider" />
        <span class="slider__item-caption">Готовый набор если текст в 2 строчки</span>
      </a>
      <a class="swiper-slide slider__link" href="#">
        <img class="slider__item-img" src="../../../images/content/top-slider3.jpg" alt="slider" />
        <span class="slider__item-caption">Готовый набор</span>
      </a>
      <a class="swiper-slide slider__link" href="#">
        <img class="slider__item-img" src="../../../images/content/top-slider4.jpg" alt="slider" />
        <span class="slider__item-caption">Готовый набор если текст в 2 строчки</span>
      </a>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>

  <div class="sort">
    <div class="sort__top">
      <div class="sort__box-item">
        <button class="sort__btn is-active">Сначала новые</button>
        <button class="sort__btn">Сначала дешевле</button>
        <button class="sort__btn">Сначала дороже</button>
        <button class="sort__btn sort__btn-change">Изменить сортировку</button>
      </div>
      <div class="sort__box-grid">
        <button class="sort__btn-grid">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19 2C20.6569 2 22 3.11929 22 4.5C22 5.88071 20.6569 7 19 7H5C3.34315 7 2 5.88071 2 4.5C2 3.11929 3.34315 2 5 2H19Z"
              fill="#22B8AF"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19 9.5C20.6569 9.5 22 10.6193 22 12C22 13.3807 20.6569 14.5 19 14.5H5C3.34315 14.5 2 13.3807 2 12C2 10.6193 3.34315 9.5 5 9.5H19Z"
              fill="#22B8AF"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19 17C20.6569 17 22 18.1193 22 19.5C22 20.8807 20.6569 22 19 22H5C3.34315 22 2 20.8807 2 19.5C2 18.1193 3.34315 17 5 17H19Z"
              fill="#22B8AF"
            />
          </svg>
        </button>
        <button class="sort__btn-grid">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19 13C20.6569 13 22 14.3431 22 16V19C22 20.6569 20.6569 22 19 22H16C14.3431 22 13 20.6569 13 19V16C13 14.3431 14.3431 13 16 13H19ZM8 13C9.65685 13 11 14.3431 11 16V19C11 20.6569 9.65685 22 8 22H5C3.34315 22 2 20.6569 2 19V16C2 14.3431 3.34315 13 5 13H8ZM8 2C9.65685 2 11 3.34315 11 5V8C11 9.65685 9.65685 11 8 11H5C3.34315 11 2 9.65685 2 8V5C2 3.34315 3.34315 2 5 2H8ZM19 2C20.6569 2 22 3.34315 22 5V8C22 9.65685 20.6569 11 19 11H16C14.3431 11 13 9.65685 13 8V5C13 3.34315 14.3431 2 16 2H19Z"
              fill="#D9D9D9"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="sort__bottom">
      <div class="sort__selected">
        <div class="sort__selected-name">Состояние: новое</div>
        <button class="sort__selected-del">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.1786 10.0002L15.5894 5.5894C15.9152 5.26356 15.9152 4.7369 15.5894 4.41106C15.2636 4.08523 14.7369 4.08523 14.4111 4.41106L10.0002 8.8219L5.5894 4.41106C5.26356 4.08523 4.7369 4.08523 4.41106 4.41106C4.08523 4.7369 4.08523 5.26356 4.41106 5.5894L8.8219 10.0002L4.41106 14.4111C4.08523 14.7369 4.08523 15.2636 4.41106 15.5894C4.57356 15.7519 4.7869 15.8336 5.00023 15.8336C5.21356 15.8336 5.4269 15.7519 5.5894 15.5894L10.0002 11.1786L14.4111 15.5894C14.5736 15.7519 14.7869 15.8336 15.0002 15.8336C15.2136 15.8336 15.4269 15.7519 15.5894 15.5894C15.9152 15.2636 15.9152 14.7369 15.5894 14.4111L11.1786 10.0002Z"
              fill="#22B8AF"
            />
          </svg>
        </button>
      </div>
      <div class="sort__selected">
        <div class="sort__selected-name">Производитель: Россия</div>
        <button class="sort__selected-del">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.1786 10.0002L15.5894 5.5894C15.9152 5.26356 15.9152 4.7369 15.5894 4.41106C15.2636 4.08523 14.7369 4.08523 14.4111 4.41106L10.0002 8.8219L5.5894 4.41106C5.26356 4.08523 4.7369 4.08523 4.41106 4.41106C4.08523 4.7369 4.08523 5.26356 4.41106 5.5894L8.8219 10.0002L4.41106 14.4111C4.08523 14.7369 4.08523 15.2636 4.41106 15.5894C4.57356 15.7519 4.7869 15.8336 5.00023 15.8336C5.21356 15.8336 5.4269 15.7519 5.5894 15.5894L10.0002 11.1786L14.4111 15.5894C14.5736 15.7519 14.7869 15.8336 15.0002 15.8336C15.2136 15.8336 15.4269 15.7519 15.5894 15.5894C15.9152 15.2636 15.9152 14.7369 15.5894 14.4111L11.1786 10.0002Z"
              fill="#22B8AF"
            />
          </svg>
        </button>
      </div>
      <button class="sort__selected-clear" type="reset">Сбросить</button>
    </div>
  </div>
</section>
