@import 'vars';

@import './blocks/breadcrumbs.scss';
@import './pages/catalog-page/block-top.scss';
@import './pages/catalog-page/block-product.scss';
@import './pages/catalog-page/block-filter.scss';
@import './pages/catalog-page/block-catalog.scss';
@import './blocks/pagination.scss';

.catalog-page {
  .wrapper {
    display: grid;
    grid-template-columns: 296px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 72px;
    padding-bottom: 96px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .aside {
      grid-area: 1 / 1 / 2 / 2;
      @media (max-width: 768px) {
        display: none;
      }
    }

    .content {
      grid-area: 1 / 2 / 2 / 3;
      @media (max-width: 768px) {
        grid-area: 1 / 1 / 2 / 2;
      }
    }
  }
}
